<% layout("./layouts/boilerplate") %>

<body>

  <div class="main col-10 mx-auto">

    <div class="MainImage">
      <img class="w-100" src=" <%= roomInfo.MainImage %> " alt="MainImage" style="height: 35rem; border-radius: 1rem; object-fit: fill;">
    </div>

    <div>
      <div class="EventInfo" style="overflow-wrap: break-word;" >
        <h1 class="fs-2 mb-3 mt-2"><%= roomInfo.RoomName %></h1>
        <h3 class="fs-6"> <%= roomInfo.desc %> </h3>
      </div>
      <div class="EditandDelete d-flex">
        <a href="/Rooms/<%= roomInfo._id %>/Edit ">
            <button class="btn btn-dark mx-3 my-4" type="submit" >Edit Your Event Details</button>
        </a>
    
        <form method="POST" action="/Rooms/<%= roomInfo._id %>?_method=DELETE">
            <button class="btn btn-danger mx-3 my-4">Delete</button>
        </form>
      </div>
    </div>


    <hr>

    <h1 class="mb-3 fs-1 my-4">Add Images</h1>

    <form action="/Rooms/<%= roomInfo._id %>/AddImages" method="POST" enctype="multipart/form-data" novalidate class="needs-validation">
        <label for="Image" class="form-label">Choose Image</label>
        <div class="mb-3">
          <div class="d-flex">
            <input class="form-control" type="file" name="room[Image]" id="" required>
            <button type="submit" class="btn btn-success w-25 mx-3">Add Image</button>
            <div class="invalid-feedback">Please Choose Image First</div>
          </div>
        </div>

    </form>

    <div class="Images">
        <h1 class="fs-3 mt-5">All Images</h1>

        <div class="showImage mt-6 row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">

        <% for(let image of roomInfo.Images){%>

            <div class="card col mx-2 mt-3" style="width: 18rem;">
                <img src="/uploads/<%= image.FileName %>" class="card-img-top mt-2" alt="...">
                <div class="card-body">
                  <h5 class="card-title mb-3"><%= image.FileName %></h5>
                  <div class="d-flex mt-4">
                <a href="/Rooms/<%= roomInfo._id %>/showImage/<%= image._id %>">
                  <button class="btn btn-dark me-4">showImage</button>
                </a>
                  <form method="POST" class="mb-1 ms-4" action="/Rooms/<%= roomInfo._id %>/AddImages/<%= image._id %>">
                    <button class="btn btn-danger">Delete</button>
                  </form>
                </div>
                </div>
              </div>

        <%}%>

        </div>

    </div>
  </div>
    
</body>
