<% layout("./layouts/boilerplate") %>

<body>
<div class="main col-8 mx-auto p-2 mb-5">
    <h1 class="mb-6 mt-3 fs-1">Edit Profile Details</h1>


    <form method="POST" action="/userProfile?_method=PUT" novalidate class="needs-validation" >

        <div class="mb-3 me-4">
            <label for="username" class="form-label">UserName</label>
            <input class="form-control" type="text" name="NewUser[username]" placeholder="Enter User name " value="<%=currUser.username %>" required disabled>
            <div class="invalid-feedback">Please Enter Your User Name</div>
        </div>
        
        <div class="d-flex">
            <div class="mb-3 me-4">
                <label for="FirstName" class="form-label">FirstName</label>
                <input class="form-control" type="text" name="NewUser[FirstName]" placeholder="Enter First name " value="<%=currUser.FirstName %>" required >
                <div class="invalid-feedback">Please Enter Your First Name</div>
            </div>
            <div class="mb-3 ms-4">
                <label for="LastName" class="form-label">LastName</label>
                <input class="form-control" type="text" name="NewUser[LastName]" placeholder="Enter First name " value="<%=currUser.LastName %>" required >
                <div class="invalid-feedback">Please Enter Your Last Name</div>
            </div>
        </div>

        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input class="form-control" type="email" name="NewUser[Email]" placeholder="Enter Your Email id " value="<%=currUser.Email %>" required >
            <div class="invalid-feedback">Please Enter Your Email id</div>
        </div>

        <div class="mb-3">
        <label for="Description" class="form-label">UserBio</label>
        <textarea class="form-control" name="NewUser[UserBio]" placeholder="Enter User Bio" maxlength="250" required ><%=currUser.UserBio %></textarea>
        <div class="invalid-feedback">Please Enter UserBio</div>
        </div>
        
        <button class="btn btn-success edit-btn">SAVE</button>
    </form>
</div>

</body>
